In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('synthetic_features_full.csv')

C:\Users\saave\AppData\Local\Temp\ipykernel_246664\1963645408.py:1: DtypeWarning: Columns (2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('synthetic_features_full.csv')

In [3]:
df.head()

,Unnamed: 0,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,...,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES,temporada_alta,dif_min,atraso_15,Hora,periodo_dia
0,0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,...,Domingo,I,American Airlines,Santiago,Miami,1,3.0,0,23:30:00,noche
1,1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,...,Lunes,I,American Airlines,Santiago,Miami,1,9.0,0,23:30:00,noche
2,2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,...,Martes,I,American Airlines,Santiago,Miami,1,9.0,0,23:30:00,noche
3,3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,...,Miercoles,I,American Airlines,Santiago,Miami,1,3.0,0,23:30:00,noche
4,4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,...,Jueves,I,American Airlines,Santiago,Miami,1,-2.0,0,23:30:00,noche

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      68206 non-null  int64
 1   Fecha-I         68206 non-null  object
 2   Vlo-I           68206 non-null  object
 3   Ori-I           68206 non-null  object
 4   Des-I           68206 non-null  object
 5   Emp-I           68206 non-null  object
 6   Fecha-O         68206 non-null  object
 7   Vlo-O           68205 non-null  object
 8   Ori-O           68206 non-null  object
 9   Des-O           68206 non-null  object
 10  Emp-O           68206 non-null  object
 11  DIA             68206 non-null  int64
 12  MES             68206 non-null  int64
 13  AÑO             68206 non-null  int64
 14  DIANOM          68206 non-null  object
 15  TIPOVUELO       68206 non-null  object
 16  OPERA           68206 non-null  object
 17  SIGLAORI        68206 non-null  object
 18  SIGLADES        68206 non-null  object
 19  temporada_alta  68206 non-null  int64
 20  dif_min         68206 non-null  float64
 21  atraso_15       68206 non-null  int64
 22  Hora            68206 non-null  object
 23  periodo_dia     68206 non-null  object
dtypes: float64(1), int64(6), object(17)
memory usage: 12.5+ MB

In [5]:
#pd.to_numeric(s, errors='coerce')
df['Vlo-I']=pd.to_numeric(df['Vlo-I'], errors='coerce', downcast='integer')

In [6]:
df['Vlo-O']=pd.to_numeric(df['Vlo-O'], errors='coerce', downcast='integer')

In [7]:
#df['column_name'] = df['column_name'].values.astype(str)

In [8]:
for x in [3,4,5,6]:
    df.iloc[:, x] = df.iloc[:, x].values.astype(str)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      68206 non-null  int64
 1   Fecha-I         68206 non-null  object
 2   Vlo-I           68201 non-null  float64
 3   Ori-I           68206 non-null  object
 4   Des-I           68206 non-null  object
 5   Emp-I           68206 non-null  object
 6   Fecha-O         68206 non-null  object
 7   Vlo-O           68189 non-null  float64
 8   Ori-O           68206 non-null  object
 9   Des-O           68206 non-null  object
 10  Emp-O           68206 non-null  object
 11  DIA             68206 non-null  int64
 12  MES             68206 non-null  int64
 13  AÑO             68206 non-null  int64
 14  DIANOM          68206 non-null  object
 15  TIPOVUELO       68206 non-null  object
 16  OPERA           68206 non-null  object
 17  SIGLAORI        68206 non-null  object
 18  SIGLADES        68206 non-null  object
 19  temporada_alta  68206 non-null  int64
 20  dif_min         68206 non-null  float64
 21  atraso_15       68206 non-null  int64
 22  Hora            68206 non-null  object
 23  periodo_dia     68206 non-null  object
dtypes: float64(3), int64(6), object(15)
memory usage: 12.5+ MB

In [10]:
df['Vlo-I'].value_counts()

174.0     686
11.0      645
116.0     608
150.0     557
704.0     556
         ...
1154.0      1
1113.0      1
1121.0      1
1116.0      1
30.0        1
Name: Vlo-I, Length: 579, dtype: int64

In [11]:
df['Vlo-I']=df['Vlo-I'].fillna(174.0)

In [12]:
df['Vlo-I'].value_counts()

174.0     691
11.0      645
116.0     608
150.0     557
704.0     556
         ...
1154.0      1
1113.0      1
1121.0      1
1116.0      1
30.0        1
Name: Vlo-I, Length: 579, dtype: int64

In [13]:
df['Vlo-O'].value_counts()

174.0     686
11.0      646
116.0     608
150.0     557
704.0     555
         ...
356.0       1
9622.0      1
8541.0      1
8665.0      1
1363.0      1
Name: Vlo-O, Length: 594, dtype: int64

In [14]:
df['Vlo-O']=df['Vlo-O'].fillna(174.0)

In [15]:
df['Vlo-O'].value_counts()

174.0     703
11.0      646
116.0     608
150.0     557
704.0     555
         ...
356.0       1
9622.0      1
8541.0      1
8665.0      1
1363.0      1
Name: Vlo-O, Length: 594, dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      68206 non-null  int64
 1   Fecha-I         68206 non-null  object
 2   Vlo-I           68206 non-null  float64
 3   Ori-I           68206 non-null  object
 4   Des-I           68206 non-null  object
 5   Emp-I           68206 non-null  object
 6   Fecha-O         68206 non-null  object
 7   Vlo-O           68206 non-null  float64
 8   Ori-O           68206 non-null  object
 9   Des-O           68206 non-null  object
 10  Emp-O           68206 non-null  object
 11  DIA             68206 non-null  int64
 12  MES             68206 non-null  int64
 13  AÑO             68206 non-null  int64
 14  DIANOM          68206 non-null  object
 15  TIPOVUELO       68206 non-null  object
 16  OPERA           68206 non-null  object
 17  SIGLAORI        68206 non-null  object
 18  SIGLADES        68206 non-null  object
 19  temporada_alta  68206 non-null  int64
 20  dif_min         68206 non-null  float64
 21  atraso_15       68206 non-null  int64
 22  Hora            68206 non-null  object
 23  periodo_dia     68206 non-null  object
dtypes: float64(3), int64(6), object(15)
memory usage: 12.5+ MB

In [17]:
df=df.drop('Unnamed: 0', axis=1)

In [18]:
df.head()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,...,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES,temporada_alta,dif_min,atraso_15,Hora,periodo_dia
0,2017-01-01 23:30:00,226.0,SCEL,KMIA,AAL,2017-01-01 23:33:00,226.0,SCEL,KMIA,AAL,...,Domingo,I,American Airlines,Santiago,Miami,1,3.0,0,23:30:00,noche
1,2017-01-02 23:30:00,226.0,SCEL,KMIA,AAL,2017-01-02 23:39:00,226.0,SCEL,KMIA,AAL,...,Lunes,I,American Airlines,Santiago,Miami,1,9.0,0,23:30:00,noche
2,2017-01-03 23:30:00,226.0,SCEL,KMIA,AAL,2017-01-03 23:39:00,226.0,SCEL,KMIA,AAL,...,Martes,I,American Airlines,Santiago,Miami,1,9.0,0,23:30:00,noche
3,2017-01-04 23:30:00,226.0,SCEL,KMIA,AAL,2017-01-04 23:33:00,226.0,SCEL,KMIA,AAL,...,Miercoles,I,American Airlines,Santiago,Miami,1,3.0,0,23:30:00,noche
4,2017-01-05 23:30:00,226.0,SCEL,KMIA,AAL,2017-01-05 23:28:00,226.0,SCEL,KMIA,AAL,...,Jueves,I,American Airlines,Santiago,Miami,1,-2.0,0,23:30:00,noche

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
df['Ori-I'].unique()

array(['SCEL'], dtype=object)

In [21]:
df['Ori-O'].unique()

array(['SCEL'], dtype=object)

In [22]:
df['SIGLAORI'].unique()

array(['Santiago'], dtype=object)

In [23]:
df=df.drop(['Ori-I','Ori-O','SIGLAORI'], axis=1)

In [24]:
df.head()

,Fecha-I,Vlo-I,Des-I,Emp-I,Fecha-O,Vlo-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLADES,temporada_alta,dif_min,atraso_15,Hora,periodo_dia
0,2017-01-01 23:30:00,226.0,KMIA,AAL,2017-01-01 23:33:00,226.0,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Miami,1,3.0,0,23:30:00,noche
1,2017-01-02 23:30:00,226.0,KMIA,AAL,2017-01-02 23:39:00,226.0,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Miami,1,9.0,0,23:30:00,noche
2,2017-01-03 23:30:00,226.0,KMIA,AAL,2017-01-03 23:39:00,226.0,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Miami,1,9.0,0,23:30:00,noche
3,2017-01-04 23:30:00,226.0,KMIA,AAL,2017-01-04 23:33:00,226.0,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Miami,1,3.0,0,23:30:00,noche
4,2017-01-05 23:30:00,226.0,KMIA,AAL,2017-01-05 23:28:00,226.0,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Miami,1,-2.0,0,23:30:00,noche

In [25]:
cat_cols=['Fecha-I', 'Des-I', 'Emp-I', 'Fecha-O', 'Des-O', 'Emp-O', 'DIANOM', 'TIPOVUELO',
       'OPERA','SIGLADES', 'Hora', 'periodo_dia']

In [26]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [27]:
df[cat_cols]=df[cat_cols].apply(encoder.fit_transform)

In [28]:
df.head()

,Fecha-I,Vlo-I,Des-I,Emp-I,Fecha-O,Vlo-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLADES,temporada_alta,dif_min,atraso_15,Hora,periodo_dia
0,124,226.0,9,0,140,226.0,10,2,1,1,2017,0,0,5,34,1,3.0,0,1084,1
1,274,226.0,9,0,323,226.0,10,2,2,1,2017,2,0,5,34,1,9.0,0,1084,1
2,416,226.0,9,0,502,226.0,10,2,3,1,2017,3,0,5,34,1,9.0,0,1084,1
3,549,226.0,9,0,679,226.0,10,2,4,1,2017,4,0,5,34,1,3.0,0,1084,1
4,689,226.0,9,0,852,226.0,10,2,5,1,2017,1,0,5,34,1,-2.0,0,1084,1

In [29]:
x=df.loc[:, df.columns != 'atraso_15']
y=df.loc[:,'atraso_15']

In [30]:
x.head()

,Fecha-I,Vlo-I,Des-I,Emp-I,Fecha-O,Vlo-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLADES,temporada_alta,dif_min,Hora,periodo_dia
0,124,226.0,9,0,140,226.0,10,2,1,1,2017,0,0,5,34,1,3.0,1084,1
1,274,226.0,9,0,323,226.0,10,2,2,1,2017,2,0,5,34,1,9.0,1084,1
2,416,226.0,9,0,502,226.0,10,2,3,1,2017,3,0,5,34,1,9.0,1084,1
3,549,226.0,9,0,679,226.0,10,2,4,1,2017,4,0,5,34,1,3.0,1084,1
4,689,226.0,9,0,852,226.0,10,2,5,1,2017,1,0,5,34,1,-2.0,1084,1

In [31]:
y[:10]

0    0
1    0
2    0
3    0
4    0
5    1
6    0
7    0
8    1
9    1
Name: atraso_15, dtype: int64

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
x_train, x_test, y_train, y_test=train_test_split(x,y,random_state=123,test_size=0.3)

In [34]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fecha-I         68206 non-null  int32
 1   Vlo-I           68206 non-null  float64
 2   Des-I           68206 non-null  int32
 3   Emp-I           68206 non-null  int32
 4   Fecha-O         68206 non-null  int32
 5   Vlo-O           68206 non-null  float64
 6   Des-O           68206 non-null  int32
 7   Emp-O           68206 non-null  int32
 8   DIA             68206 non-null  int64
 9   MES             68206 non-null  int64
 10  AÑO             68206 non-null  int64
 11  DIANOM          68206 non-null  int32
 12  TIPOVUELO       68206 non-null  int32
 13  OPERA           68206 non-null  int32
 14  SIGLADES        68206 non-null  int32
 15  temporada_alta  68206 non-null  int64
 16  dif_min         68206 non-null  float64
 17  Hora            68206 non-null  int32
 18  periodo_dia     68206 non-null  int32
dtypes: float64(3), int32(12), int64(4)
memory usage: 6.8 MB

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

modelo=LogisticRegression(solver='lbfgs',max_iter=1000)
modelo.fit(x_train, y_train)
prediccion=modelo.predict(x_test)

accTrain=modelo.score(x_train, y_train)
accTest=modelo.score(x_test, y_test)
print('exactitud entrenamiento: ',accTrain)
print('exactitud test: ',accTest)



scores=cross_val_score(modelo, x_train, y_train, cv=20).mean()
print('exactitud valor cruzado: ',scores)

C:\Users\saave\miniconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

exactitud entrenamiento:  1.0
exactitud test:  1.0

C:\Users\saave\miniconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\saave\miniconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\saave\miniconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\saave\miniconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\saave\miniconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\saave\miniconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\saave\miniconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\saave\miniconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

exactitud valor cruzado:  0.9999790532048596

In [36]:
def unicosdf(df):
    uni_dic={}
    for i in df.columns:
        uni_dic[i]=len(df[i].unique())     
    return uni_dic

In [37]:
unicosx=unicosdf(x)

In [38]:
unicosx

{'Fecha-I': 53252,
 'Vlo-I': 579,
 'Des-I': 64,
 'Emp-I': 30,
 'Fecha-O': 62774,
 'Vlo-O': 594,
 'Des-O': 63,
 'Emp-O': 32,
 'DIA': 31,
 'MES': 12,
 'AÑO': 2,
 'DIANOM': 7,
 'TIPOVUELO': 2,
 'OPERA': 23,
 'SIGLADES': 62,
 'temporada_alta': 2,
 'dif_min': 176,
 'Hora': 1093,
 'periodo_dia': 3}

In [39]:
def minmax_norm(df_input):
    return (df - df.min()) / ( df.max() - df.min())

In [40]:
x=minmax_norm(x)

In [41]:
x.head()

,Fecha-I,Vlo-I,Des-I,Emp-I,Fecha-O,Vlo-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLADES,temporada_alta,dif_min,atraso_15,Hora,periodo_dia
0,0.002329,0.022602,0.142857,0.0,0.002230,0.022602,0.16129,0.064516,0.000000,0.0,0.0,0.000000,0.0,0.227273,0.557377,1.0,0.097143,0.0,0.992674,0.5
1,0.005145,0.022602,0.142857,0.0,0.005146,0.022602,0.16129,0.064516,0.033333,0.0,0.0,0.333333,0.0,0.227273,0.557377,1.0,0.131429,0.0,0.992674,0.5
2,0.007812,0.022602,0.142857,0.0,0.007997,0.022602,0.16129,0.064516,0.066667,0.0,0.0,0.500000,0.0,0.227273,0.557377,1.0,0.131429,0.0,0.992674,0.5
3,0.010310,0.022602,0.142857,0.0,0.010817,0.022602,0.16129,0.064516,0.100000,0.0,0.0,0.666667,0.0,0.227273,0.557377,1.0,0.097143,0.0,0.992674,0.5
4,0.012939,0.022602,0.142857,0.0,0.013573,0.022602,0.16129,0.064516,0.133333,0.0,0.0,0.166667,0.0,0.227273,0.557377,1.0,0.068571,0.0,0.992674,0.5

In [42]:
x=x.drop('atraso_15',axis=1)

In [43]:
x.head()

,Fecha-I,Vlo-I,Des-I,Emp-I,Fecha-O,Vlo-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLADES,temporada_alta,dif_min,Hora,periodo_dia
0,0.002329,0.022602,0.142857,0.0,0.002230,0.022602,0.16129,0.064516,0.000000,0.0,0.0,0.000000,0.0,0.227273,0.557377,1.0,0.097143,0.992674,0.5
1,0.005145,0.022602,0.142857,0.0,0.005146,0.022602,0.16129,0.064516,0.033333,0.0,0.0,0.333333,0.0,0.227273,0.557377,1.0,0.131429,0.992674,0.5
2,0.007812,0.022602,0.142857,0.0,0.007997,0.022602,0.16129,0.064516,0.066667,0.0,0.0,0.500000,0.0,0.227273,0.557377,1.0,0.131429,0.992674,0.5
3,0.010310,0.022602,0.142857,0.0,0.010817,0.022602,0.16129,0.064516,0.100000,0.0,0.0,0.666667,0.0,0.227273,0.557377,1.0,0.097143,0.992674,0.5
4,0.012939,0.022602,0.142857,0.0,0.013573,0.022602,0.16129,0.064516,0.133333,0.0,0.0,0.166667,0.0,0.227273,0.557377,1.0,0.068571,0.992674,0.5

In [44]:
x.columns

Index(['Fecha-I', 'Vlo-I', 'Des-I', 'Emp-I', 'Fecha-O', 'Vlo-O', 'Des-O',
       'Emp-O', 'DIA', 'MES', 'AÑO', 'DIANOM', 'TIPOVUELO', 'OPERA',
       'SIGLADES', 'temporada_alta', 'dif_min', 'Hora', 'periodo_dia'],
      dtype='object')

In [45]:
import statsmodels.api as sm

x_m=sm.add_constant(x_train)
logit=sm.Logit(y_train, x_m)
resultado=logit.fit()
resultado.summary()

C:\Users\saave\miniconda3\lib\site-packages\statsmodels\discrete\discrete_model.py:1819: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))

PerfectSeparationError: Perfect separation detected, results not available

In [46]:
df2=pd.concat([x,y], axis=1)

In [47]:
df2.head()

,Fecha-I,Vlo-I,Des-I,Emp-I,Fecha-O,Vlo-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLADES,temporada_alta,dif_min,Hora,periodo_dia,atraso_15
0,0.002329,0.022602,0.142857,0.0,0.002230,0.022602,0.16129,0.064516,0.000000,0.0,0.0,0.000000,0.0,0.227273,0.557377,1.0,0.097143,0.992674,0.5,0
1,0.005145,0.022602,0.142857,0.0,0.005146,0.022602,0.16129,0.064516,0.033333,0.0,0.0,0.333333,0.0,0.227273,0.557377,1.0,0.131429,0.992674,0.5,0
2,0.007812,0.022602,0.142857,0.0,0.007997,0.022602,0.16129,0.064516,0.066667,0.0,0.0,0.500000,0.0,0.227273,0.557377,1.0,0.131429,0.992674,0.5,0
3,0.010310,0.022602,0.142857,0.0,0.010817,0.022602,0.16129,0.064516,0.100000,0.0,0.0,0.666667,0.0,0.227273,0.557377,1.0,0.097143,0.992674,0.5,0
4,0.012939,0.022602,0.142857,0.0,0.013573,0.022602,0.16129,0.064516,0.133333,0.0,0.0,0.166667,0.0,0.227273,0.557377,1.0,0.068571,0.992674,0.5,0

In [48]:
df2.corr()

,Fecha-I,Vlo-I,Des-I,Emp-I,Fecha-O,Vlo-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLADES,temporada_alta,dif_min,Hora,periodo_dia,atraso_15
Fecha-I,1.000000,0.015336,-0.007354,0.002658,0.999811,0.016761,-0.007180,-0.012808,0.096907,0.995423,0.009483,0.008663,0.012609,0.022017,0.004526,-0.241619,0.075014,-0.008656,0.005965,0.082126
Vlo-I,0.015336,1.000000,-0.118651,0.155017,0.015153,0.997821,-0.122778,0.077390,-0.001954,0.015566,-0.000955,0.011115,-0.404090,-0.123879,0.358137,0.015161,0.058606,-0.053821,0.044912,0.067745
Des-I,-0.007354,-0.118651,1.000000,0.320684,-0.007593,-0.117598,0.999695,0.408554,0.000526,-0.007479,-0.009979,0.001053,0.358069,0.318329,0.159896,0.009138,0.027725,-0.161799,-0.015842,0.003750
Emp-I,0.002658,0.155017,0.320684,1.000000,0.002417,0.155250,0.323207,0.920175,0.002544,0.002030,-0.001038,0.001626,0.292652,0.891072,0.162948,0.012080,0.028418,-0.036050,-0.003704,0.011886
Fecha-O,0.999811,0.015153,-0.007593,0.002417,1.000000,0.016594,-0.007419,-0.013064,0.097391,0.995980,0.009372,0.008787,0.012154,0.021729,0.004154,-0.250136,0.075534,-0.009272,0.005549,0.082392
Vlo-O,0.016761,0.997821,-0.117598,0.155250,0.016594,1.000000,-0.121807,0.077794,-0.001976,0.017050,-0.000950,0.010854,-0.403313,-0.123772,0.359966,0.014437,0.058277,-0.054123,0.045338,0.066944
Des-O,-0.007180,-0.122778,0.999695,0.323207,-0.007419,-0.121807,1.000000,0.411981,0.000500,-0.007298,-0.009996,0.000955,0.363522,0.320726,0.160222,0.009041,0.028055,-0.163097,-0.016321,0.003847
Emp-O,-0.012808,0.077390,0.408554,0.920175,-0.013064,0.077794,0.411981,1.000000,0.001036,-0.013458,-0.001722,-0.003393,0.437365,0.795611,0.170455,0.012990,0.002289,-0.020743,0.008528,-0.019992
DIA,0.096907,-0.001954,0.000526,0.002544,0.097391,-0.001976,0.000500,0.001036,1.000000,0.014318,-0.009073,-0.007998,0.001277,0.005472,-0.001545,0.222410,-0.006706,-0.001697,0.002118,-0.002517
MES,0.995423,0.015566,-0.007479,0.002030,0.995980,0.017050,-0.007298,-0.013458,0.014318,1.000000,-0.008642,0.009252,0.011564,0.021092,0.003939,-0.277328,0.077280,-0.012792,0.003422,0.083416
AÑO,0.009483,-0.000955,-0.009979,-0.001038,0.009372,-0.000950,-0.009996,-0.001722,-0.009073,-0.008642,1.000000,-0.002590,-0.005891,-0.001448,-0.000677,0.007799,0.002913,0.010059,0.000316,0.004394
DIANOM,0.008663,0.011115,0.001053,0.001626,0.008787,0.010854,0.000955,-0.003393,-0.007998,0.009252,-0.002590,1.000000,-0.017403,0.000463,0.006531,0.009016,0.020266,-0.027780,-0.006985,0.016417
TIPOVUELO,0.012609,-0.404090,0.358069,0.292652,0.012154,-0.403313,0.363522,0.437365,0.001277,0.011564,-0.005891,-0.017403,1.000000,0.357638,-0.131693,0.000799,-0.072733,-0.004702,-0.024241,-0.096295
OPERA,0.022017,-0.123879,0.318329,0.891072,0.021729,-0.123772,0.320726,0.795611,0.005472,0.021092,-0.001448,0.000463,0.357638,1.000000,0.051820,0.004949,0.008068,-0.041982,-0.008254,0.000823
SIGLADES,0.004526,0.358137,0.159896,0.162948,0.004154,0.359966,0.160222,0.170455,-0.001545,0.003939,-0.000677,0.006531,-0.131693,0.051820,1.000000,0.020420,0.052567,0.009758,0.057391,0.039866
temporada_alta,-0.241619,0.015161,0.009138,0.012080,-0.250136,0.014437,0.009041,0.012990,0.222410,-0.277328,0.007799,0.009016,0.000799,0.004949,0.020420,1.000000,0.023069,0.015675,0.009176,0.022806
dif_min,0.075014,0.058606,0.027725,0.028418,0.075534,0.058277,0.028055,0.002289,-0.006706,0.077280,0.002913,0.020266,-0.072733,0.008068,0.052567,0.023069,1.000000,0.057781,0.037713,0.724266
Hora,-0.008656,-0.053821,-0.161799,-0.036050,-0.009272,-0.054123,-0.163097,-0.020743,-0.001697,-0.012792,0.010059,-0.027780,-0.004702,-0.041982,0.009758,0.015675,0.057781,1.000000,0.527351,0.061753
periodo_dia,0.005965,0.044912,-0.015842,-0.003704,0.005549,0.045338,-0.016321,0.008528,0.002118,0.003422,0.000316,-0.006985,-0.024241,-0.008254,0.057391,0.009176,0.037713,0.527351,1.000000,0.043080
atraso_15,0.082126,0.067745,0.003750,0.011886,0.082392,0.066944,0.003847,-0.019992,-0.002517,0.083416,0.004394,0.016417,-0.096295,0.000823,0.039866,0.022806,0.724266,0.061753,0.043080,1.000000

In [49]:
x_train, x_test, y_train, y_test=train_test_split(x,y,random_state=123,test_size=0.3)

In [51]:
print(f'dimensiones x_train={x_train.shape} -- dimensiones y_train={y_train.shape}')

dimensiones x_train=(47744, 19) -- dimensiones y_train=(47744,)

In [52]:
print(f'dimensiones x_test={x_test.shape} -- dimensiones y_test={y_test.shape}')

dimensiones x_test=(20462, 19) -- dimensiones y_test=(20462,)

In [56]:
import statsmodels.api as sm
x_m=sm.add_constant(x_train)
logit=sm.Logit(y_train, x_m)
resultado=logit.fit()
resultado.summary()

C:\Users\saave\miniconda3\lib\site-packages\statsmodels\discrete\discrete_model.py:1819: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))

Warning: Maximum number of iterations has been exceeded.
         Current function value: inf
         Iterations: 35

C:\Users\saave\miniconda3\lib\site-packages\statsmodels\discrete\discrete_model.py:1872: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))

LinAlgError: Singular matrix

In [57]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [58]:
models = {
    'Logistic Regression' : LogisticRegression(),
    'KNN' : KNeighborsClassifier(n_neighbors=10),
    'Random': RandomForestClassifier(n_estimators=400)
}

In [59]:
def fit_and_score(models, X_train, X_test, y_train, y_test):
    """
    Función que se encarga de entrenar y 
    obtener el puntaje de cada modelo entrenado
    """
    np.random.seed(42)
    #guardar los scores 
    models_scores = {}
    
    #loop
    for name, model in models.items():
        #entrenamos el modelo
        model.fit(X_train, y_train)
        #evaluamos el desempeño
        models_scores[name] = model.score(x_test, y_test)
        
    return models_scores

In [61]:
models_scores = fit_and_score(models, x_train, x_test, y_train, y_test)

In [62]:
models_scores

{'Logistic Regression': 0.9798162447463591,
 'KNN': 0.8561724171635227,
 'Random': 1.0}